# Maven Target
target/

# Built JRE binaries
jre/

# Compressed zip artifacts
*.zip

# System temporary files
.DS_Store
Thumbs.db

# IDE configuration files
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Output executables & log files
output/FollowUpCalendar.exe
output/FollowUpCalendar_Green_Package/
output/*.log
*.log
